table {
    
    border-collapse: collapse;
    width: 50%;
}

table td, thead th {
    border: 1px solid black;
    padding: 12px;
}
.Ranking th{
    border: 1px solid black;
    padding: 12px;
}

table tr:nth-child(even) {
    background-color: grey;
    color: #ffff;
}

table th {
    
    text-align: left;
    background-color: rgba(255, 140, 0, 0.849);
    color: white;
}

.Ranking{
    
    float: right;
    width: 15%;
    text-align: left;
    background-color: white
       

}
.LR{
    padding-left: 1300px;
}